{% extends '::base.html.twig' %}

{% block body -%}
    <h1 class="link-2">Editar Artículo</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('articulo') }}" class="link-2">
            Regresar al listado
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
